a:not([class]) {
    text-decoration: underline;
    text-decoration-color: #02baff;
    text-underline-offset: 2px;
}

a {
    color: #02baff;
    text-decoration: none;
}

.nav-list .nav-list-item .nav-list-expander {
    color: #02baff;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-expander {
    color: #02baff;
}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: #02baff;
}

.text-grey-dk-100 {
    color: #777 !important;
}

.search-input {
    color: #777;
}

.icon {
    color: #02baff;
}

.btn:hover, .btn.zeroclipboard-is-hover {
    color: #02baff;
}

/* Base button style */
button.js-toggle-dark-mode {
    padding: 10px;
    border: none;
    background-color: transparent; /* No background */
    color: #02baff; /* Initial text color */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
  }
  
  /* Focus (when clicked or focused with keyboard) */
  button.js-toggle-dark-mode:focus {
    outline: 2px solid #02baff; /* Outline color on click/focus */
    background-color: rgba(17, 169, 187, 0.1); /* Slightly tinted background */
  }
  
  /* Active (when actively being clicked) */
  button.js-toggle-dark-mode:active {
    outline: 2px solid #007b9a; /* Darker outline when actively clicked */
    background-color: rgba(17, 169, 187, 0.3); /* Darker background when clicked */
    color: #007b9a; /* Darker text when clicked */
  }